{$SITE_DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 6MB
	}
	@backend path /api/* /admin/* /static/* /applications/*
	handle @backend {
		reverse_proxy backend:8000 {
			header_up X-Real-IP {remote_host}
		}
	}
	handle_path /media/* {
		root * /srv/media
		header X-Content-Type-Options nosniff
		file_server
	}
	handle {
		reverse_proxy frontend:3000
	}
}
